# Ignore virtual environment
venv/

# Ignore temporary files
*.log
*.pyc
__pycache__/

# Ignore dataset files
*.zip
dataset/*.csv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Exclude other large or unnecessary files
